body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #fff;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #00a2d8;
    color: #fff;
}

.logo {
    font-size: 24px;
}

.header-buttons {
    display: flex;
    align-items: center;
}

#search {
    padding: 5px;
    margin-right: 10px;
    border: none;
    border-radius: 4px;
}

#menu-toggle {
    padding: 5px 10px;
    background-color: #fff;
    color: #00a2d8;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.sidebar {
    position: fixed;
    left: -280px;
    top: 0;
    width: 250px;
    height: 100%;
    background-color: white;
    color: #fff;
    transition: left 0.3s;
    padding: 10px;
}

.sidebar.open {
    left: 0;
}

#menu-list {
    list-style-type: none;
    padding: 0;
}

.menu-item {
    margin-left: 20px;
    color: #00a2d8;
    cursor: pointer;
    text-decoration: none;
}

.submenu {
    list-style-type: none;
    padding-left: 15px;
    display: none; /* Oculta subitens inicialmente */
}
.submenu a {
    color: #00a2d8;
    text-decoration: none;
    margin-left: 20px;
    padding: 5px;
}

.search-results {
    margin-top: 20px;
    background-color: #f4f4f4;
    padding: 10px;
}

.hidden {
    display: none;
}

button {
    padding: 5px 10px;
    background-color: #00a2d8;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}