
/*        Variaveis         */
:root {
    --tema-principal: #2e9ece00;
}

/*        Principal         */
* {
    margin: 0px;
    padding: 0px;
}

header {
    height: 40px;
    background-color: --tema-principal;
}